// Vars
$color-highlight: #FFE81F;
$color-highlight-hover: #e8d000;
$color-base: #000000;
$color-white: #fff;
$color-grey: #f2f2f2;
$page-bg: $color-base;



// Base 
* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  background-color: $page-bg;
}

.page-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: $color-highlight;
}

button:hover {
  cursor: pointer;
}

ul {
  padding-left: 30px;
}



// Loader 
.loader {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}



// Header 
.header {
  & {
    padding-top: 35px;
    padding-bottom: 50px;
    font-size: 1.1rem;
  }
  &-logo a {
    font-size: 2.25rem; 
    font-weight: 800;
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
  }
  &-user {
    position: relative;
    display: flex;  
    align-items: center;
    color: $color-white;  
  }
  &-user button {
    padding: 4px 15px;
    align-items: center;
    display: flex;
    font-size: unset;
    font-weight: 600;
    color: $color-base;
    background-color: $color-highlight;
    border: none;
    border-radius: 4px;
    outline: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  }
  &-user button:hover {
    background-color: $color-highlight-hover;
  }
  &-user button svg {
    margin-left: 5px;
    font-size: 1.4rem;
  }
  &-user button a {
    color: unset;
    text-decoration: none;
  }
  &-menu {
    position: relative;
  }
  &-menu a {
    margin-right: 35px;
    font-size: 1.35rem;
    color: $color-white;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-white;
  }
  &-menu a.active {
    font-weight: 600;
    border-bottom-width: 2px;
  }
  &-menu a:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .header {
    &-menu,
    &-user {
      margin: 0 auto;
    }
    &-menu {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &-logo {
      width: 100%;
      margin-bottom: 35px;
      text-align: center;
    }
  }
}


// Main container 
.page-content {
  min-height: calc(100vh - 250px);
  margin-bottom: 25px;
}

.content-area {
  &-inner {
    background: $color-white;
    border-radius: 4px;
    padding: 25px;
  }
}


// Search Panel
.search-panel {
  margin-bottom: 35px;
}


// Character Card 
.character-card {
  & span {
    display: block;
    margin-bottom: 8px;
  }
  & span:last-of-type {
    margin-bottom: 0;
  }

  &__button {
    color: $color-white;
    margin-left: 6px;
    margin-bottom: 15px;
    padding: 10px 25px;
    background: $color-base;
    border-radius: 4px;
    text-decoration: none;
    transition: all 250ms ease-out;
  }
  &__button:hover {
    opacity: .8;
  }
}



// Comment form
#character-comment-form {
  & input::placeholder {
    font-size: 10px !important;
  }
  & button {
    color: $color-base;
    background-color: $color-highlight;
    box-shadow: unset;
  }
  & button:hover {
    background-color: $color-highlight-hover;
  }
}

@media screen and (max-width: 599px) {
  #character-comment-form {
    margin-bottom: 50px;
  }
}



// Comments block
.comment-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 15px;
  zoom: .95;
  background-color: $color-grey !important;
  & small {
    margin-bottom: 10px;
  }
  & strong {
    margin-bottom: 20px;
  }
  & p {
    margin: 0;
  }
}



// Breadcrumbs
.breadcrumbs {
  & {
    padding-bottom: 25px;
  }
  & * {
    color: $color-white;
  }
}

.breadcrumbs-item,
.breadcrumbs-item:hover,
.breadcrumbs-item:active {
  color: $color-white;
  text-decoration: unset;
}



// Character Info 
.character {
  & .content-area-inner {
    padding: 25px 10px;
  }
}


.character-info {
  & {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  & h2, & h3 {
    margin-top: 0;
  }
  & span {
    margin-bottom: 15px;
  }
  &-category:first-of-type {
    margin-bottom: 25px;
  }
  &-category li {
    margin-bottom: 12px;
  }
  &-category li:last-of-type {
    margin-bottom: 0;
  }
  & .image {
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-grey;
  }
  & .image button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 15px;
    align-items: center;
    display: flex;
    font-weight: 600;
    border: unset;
    color: $color-base;
    background-color: $color-highlight;
    transition: background-color 0.3s ease-out;
  }
  & .image button:hover {
    background-color: $color-highlight-hover;
  }
  & .image div,
  & .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .like-it {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    height: 50px;
    left: 15px;
    bottom: 0;
    color: $color-white;
    background: $color-base;
    z-index: 2;
    cursor: pointer;
    transition: all .3s ease-out;
  }
  & .like-it:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 425px) {
  .character-info {
    & span {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 960px) {
  .character-info {
    &.featured {
      min-height: 225px;
      margin-bottom: 35px;
    }
    &.main  {
      margin-bottom: 25px;
    }
  } 
}



// Character Form
.character-comments {
  &-block {
    position: relative;
    display: flex;
    padding-bottom: 50px;
  }
  &-form,
  &-list {
    position: relative;
    padding: 0 15px;
  }  
  &-form form {
    display: flex;
    flex-direction: column;
  }
  &-form form > div:nth-of-type(1) {
    margin-bottom: 25px;
  }
  &-form form > div:nth-of-type(2) {
    margin-bottom: 35px;
  }
}




// Profile
.profile {
  &-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &-info span {
    margin-bottom: 10px;
  }
}



// Footer 
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
    color: $color-highlight;
  }

